@font-face {
    font-family: 'heeboregular';
    src: url('./heeboFont/Heebo-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navLogo {
    height: 60px;
}

.main-text {
    font-family: heeboregular
}

.main-button {
    font-family: heeboregular;
    font-size: 14px;
    font-weight: 700;
    color: black;
    background-color: #BFD732;
    border:none;
    border-radius: 1000px;
    padding: 10px 25px;
    transition: 0.3s;
}

.main-button:hover {
    background-color: #a2b82a;
}

.main-button-black {
    font-family: heeboregular, sans-serif;
    font-weight: 700;
    color: #BFD732;
    background-color: #444444;
    border:none;
    border-radius: 1000px;
    padding: 10px 25px;
    transition: 0.3s;
}

.main-button-black:hover {
    background-color: #5f5f5f;
}

.main-input {
    width: 100%;
    border-color: #444444;
    border-width: 1px;
    border-radius: 1000px;
    padding: 5px 25px;
}